<% question ||= nil %>
<% action_icon = question.answer.blank? ? 'reply' : 'pencil' %>

<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= sanitize text_with_hashtag_links(question.text) %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= sanitize text_with_hashtag_links(question.answer) %>
      </div>
    <% end %>

    <div class="container">
      <div class="question-date">
        <%= l question.created_at, format: :short %>
      </div>

      <div class="question-date">
        Воспрос от:
        <% if question.author.present? %>
          <%= link_to question.author.username, question.author %>
        <% else %>
          Шпиона
        <% end %>
      </div>

      <div class="question-date">
        <% question.hashtags.each do |hashtag| %>
          <%= link_to "##{hashtag.text}", hashtag_path(hashtag.text) %>
        <% end %>
      </div>
    </div>
  </div>

  <% if question.user == current_user %>
    <div class="question-actions">
      <%= link_to fa_icon(action_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: { confirm: 'Are u sure?' } %>
    </div>
  <% end %>
</div>
