<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Ask.com_Logo.svg/1200px-Ask.com_Logo.svg.png" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Создайте ваш бесплатный аккаунт
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Или
        <%= link_to 'задавайте вопросы анонимно', root_path, class: 'font-medium text-indigo-600 hover:text-indigo-500' %>
      </p>
    </div>

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <% top_indentation = 0 %>
        <% @user.errors.each do |attr, msg| %>
          <div aria-live="assertive" class="fixed inset-0 sm:p-10 pointer-events-none mt-8">
            <div class="my-<%= top_indentation %> flex flex-col sm:items-end">
              <div class="max-w-sm w-full bg-red-200 shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
                <div class="p-1">
                  <div class="flex items-center">
                      <p class="w-0 flex-1 text-sm font-medium text-red-600">
                        <%= msg %>
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% top_indentation += 8 %>
        <% end %>
      <% end %>

      <div class="space-y-1">
        <div>
          <%= f.text_field :email, placeholder: 'Почта в формате: example@mail.com',
                           class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' %>
        </div>

        <div>
          <%= f.text_field :username, placeholder: 'Никнейм',
                           class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' %>
        </div>

        <div>
          <%= f.text_field :name, placeholder: 'Имя',
                           class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' %>
        </div>

        <div>
          <%= f.password_field :password, placeholder: 'Пароль',
                               class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' %>
        </div>

        <div>
          <%= f.password_field :password_confirmation, placeholder: 'Подтверждение пароля',
                               class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' %>
        </div>
      </div>

      <%= f.submit 'Погнали!',
                   class: 'mt-6 animate-bounce group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>

    <% end %>
    </form>
  </div>
</div>
